@font-face {
    font-family: 'BPG Nateli';
    src: url('../font/bpg-nateli-webfont.eot'); /* IE9 Compat Modes */
    src: url('../font/bpg-nateli-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/bpg-nateli-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../font/bpg-nateli-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../font/bpg-nateli-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../font/bpg-nateli-webfont.svg#bpg_nateliregular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Black.eot');
    src: url('../font/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto-Black.woff2') format('woff2'),
        url('../font/Roboto-Black.woff') format('woff'),
        url('../font/Roboto-Black.ttf') format('truetype'),
        url('../font/Roboto-Black.svg#Roboto-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

